<div class="page-header">
    <h1>Create Colour</h1>
</div>
<alert level="{{message.level}}" text="{{message.text}}"/>
<form name="form" data-ng-submit="save(item)" class="form-horizontal">

    <div class="control-group" data-ng-class="{error: errors.colorname}">
        <label class="control-label" for="colorname">Colorname</label>

        <div class="controls">
            <input type="text" id="colorname" name="colorname" required data-ng-model="item.colorname">
            <span class="help-inline" data-ng-show="errors.colorname">{{errors.colorname}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: errors.dc_id}">
        <label class="control-label" for="dc_id">Dcid</label>

        <div class="controls">
            <input type="text" id="dc_id" name="dc_id" required data-ng-model="item.dc_id">
            <span class="help-inline" data-ng-show="errors.dc_id">{{errors.dc_id}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: errors.filename}">
        <label class="control-label" for="filename">Filename</label>

        <div class="controls">
            <input type="text" id="filename" name="filename" required data-ng-model="item.filename">
            <span class="help-inline" data-ng-show="errors.filename">{{errors.filename}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: errors.pantone}">
        <label class="control-label" for="pantone">Pantone</label>

        <div class="controls">
            <input type="text" id="pantone" name="pantone" required data-ng-model="item.pantone">
            <span class="help-inline" data-ng-show="errors.pantone">{{errors.pantone}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: errors.season}">
        <label class="control-label" for="season">Season</label>

        <div class="controls">
            <input type="text" id="season" name="season" required data-ng-model="item.season">
            <span class="help-inline" data-ng-show="errors.season">{{errors.season}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: errors.tone}">
        <label class="control-label" for="tone">Tone</label>

        <div class="controls">
            <input type="text" id="tone" name="tone" required data-ng-model="item.tone">
            <span class="help-inline" data-ng-show="errors.tone">{{errors.tone}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: errors.webcolor}">
        <label class="control-label" for="webcolor">Webcolor</label>

        <div class="controls">
            <input type="text" id="webcolor" name="webcolor" required data-ng-model="item.webcolor">
            <span class="help-inline" data-ng-show="errors.webcolor">{{errors.webcolor}}</span>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid"><i class="icon-ok"></i> Create
        </button>
    </div>
</form>
